<!-- variant-picker.liquid snippet -->
{%- doc -%}
  Renders a default variant picker, used to display the variant picker in the variants block.

  @param {object} product_resource - The product object.
  @param {object} [block] - The block object
{%- enddoc -%}

{% assign block_settings = block.settings %}

{% unless product_resource.has_only_default_variant %}
  {% liquid
    assign button_background_brightness = section.settings.color_scheme.settings.foreground | color_brightness
    if button_background_brightness < 105
      assign strikethrough_color_mix = '#000'
    else
      assign strikethrough_color_mix = '#fff'
    endif

  
  %}
  <variant-picker
    class="variant-picker spacing-style variant-picker--{{ block_settings.alignment }}"
    style="--color-strikethrough-mix: {{ strikethrough_color_mix }}; {% render 'spacing-style', settings: block_settings %}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product_resource.id }}"
    data-block-id="{{ block.id }}"
    data-product-url="{{ product_resource.url }}"
    ref="mainVariantPicker"
    {% if product.id == product_resource.id %}
      data-template-product-match="true"
    {% endif %}
    {{ block.shopify_attributes }}
    {% if request.visual_preview_mode %}
      data-shopify-visual-preview
    {% endif %}
  >
    <form class="variant-picker__form">
      {%- for product_option in product_resource.options_with_values -%}
        {%- liquid
          assign swatch_count = product_option.values | map: 'swatch' | compact | size
          assign variant_style = block_settings.variant_style

          if swatch_count > 0 and block_settings.show_swatches
            if block_settings.variant_style == 'dropdown'
              assign variant_style = 'swatch_dropdown'
            else
              assign variant_style = 'swatch'
            endif
          endif

          if variant_style == 'buttons' and settings.variant_button_width == 'equal-width-buttons'
            assign fieldset_id = section.id | append: '-' | append: product_resource.id | append: '-' | append: product_option.name | handleize
            assign option_id_attribute = 'data-option-id="' | append: fieldset_id | append: '"'
            assign longest_value = 0
          endif
        -%}

        {%- if variant_style == 'swatch' or block_settings.variant_style == 'buttons' -%}
          <!-- Button/Swatch variant code remains the same -->
          <fieldset
            class="variant-option variant-option--buttons{% if variant_style == 'swatch' %} variant-option--swatches{% else %} variant-option--{{ settings.variant_button_width }}{% endif %}"
            {{ option_id_attribute }}
          >
            <legend>
              {{ product_option.name | escape -}}
              {%- if variant_style == 'swatch' -%}
                <span class="variant-option__swatch-value">{{ product_option.selected_value }}</span>
              {%- endif %}
            </legend>
            {%- for product_option_value in product_option.values -%}
              {% if product_option_value.size > longest_value and option_id_attribute %}
                {% assign longest_value = product_option_value.size %}
              {% endif %}
              <label class="variant-option__button-label{% if variant_style == 'swatch' %} variant-option__button-label--has-swatch{% endif %}">
                <input
                  type="radio"
                  name="{{ product_option.name | escape }}-{{ block.id }}-{{ product_resource.id }}"
                  value="{{ product_option_value | escape }}"
                  aria-label="{{ product_option_value.name }}"
                  {% if product_option_value.available == false %}
                    aria-disabled="true"
                  {% endif %}
                  data-input-id="{{ product_option.position }}-{{ forloop.index0 }}"
                  data-option-value-id="{{ product_option_value.id }}"
                  data-option-available="{{ product_option_value.available }}"
                  data-connected-product-url="{{ product_option_value.product_url }}"
                  {% if product_option_value.variant.id %}
                    data-variant-id="{{ product_option_value.variant.id }}"
                  {% endif %}
                  {% if product_option_value.selected %}
                    checked
                  {% endif %}
                >
                {% if variant_style == 'swatch' %}
                  {% liquid
                    assign featured_media = product_option_value.variant.featured_media

                    if featured_media == blank and product_option_value.product_url
                      assign featured_media = product_option_value.variant.product.featured_media
                    endif
                  %}

                  {% render 'swatch',
                    swatch: product_option_value.swatch,
                    variant_image: featured_media,
                    mode: 'unscaled'
                  %}
                {% else %}
                  <span class="variant-option__button-label__text">{{ product_option_value | escape }}</span>
                {% endif %}
                {% render 'strikethrough-variant', product_option: product_option_value %}
              </label>
            {%- endfor -%}
            {% if option_id_attribute %}
              {% style %}
                [data-option-id="{{ fieldset_id }}"] {
                  --variant-ch: {{ longest_value }}ch;
                }
              {% endstyle %}
            {% endif %}
          </fieldset>
          
        {%- elsif block_settings.variant_style == 'slider' -%}
          <!-- UPDATED SLIDER VARIANT STYLE -->
          <fieldset class="variant-option variant-option--slider" data-slider-id="{{ product_option.name | handleize }}-{{ block.id }}">
            <legend>{{ product_option.name | escape }}</legend>
            <div class="variant-slider__container">
              <div class="variant-slider__wrapper">
                <!-- Previous Button -->
                <button 
                  type="button"
                  class="variant-slider__nav variant-slider__nav--prev" 
                  aria-label="Previous {{ product_option.name }} options"
                  data-slider-prev
                >
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24">
                    <polyline points="15 18 9 12 15 6"></polyline>
                  </svg>
                </button>
                
                <!-- Next Button -->
                <button 
                  type="button"
                  class="variant-slider__nav variant-slider__nav--next" 
                  aria-label="Next {{ product_option.name }} options"
                  data-slider-next
                >
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24">
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </button>
                
                <!-- Slider Track -->
                <div class="variant-slider__track">
                  <div class="variant-slider__list" data-slider-list>
                    {%- for product_option_value in product_option.values -%}
                      {%- liquid
                        
                        assign variant_image_url = ''
                        case product_option_value
                          when '14K Rose Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/14K_ROSE_GOLD.png?v=1758711942'
                          when '24K Rose Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/24K_ROSE_GOLD.png?v=1758711942'
                          when '18K Rose Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/18K_ROSE_GOLD.png?v=1758711943'
                          when '22K Rose Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/22K_ROSE_GOLD.png?v=1758711942'
                          when '18K Yellow Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/18K_YELLOW_GOLD.png?v=1758711942'
                          when '22K Yellow Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/22K_YELLOW_GOLD.png?v=1758711943'
                          when '14K Yellow Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/14K_YELLOW_GOLD.png?v=1758711942'
                          when '24K Yellow Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/24K_YELLOW_GOLD.png?v=1758711943'
                          when '14K White Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/14K_SILVER_GOLD.png?v=1758711942'
                          when '18K White Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/18K_SILVER_GOLD.png?v=1758711942'
                          when '24K White Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/24K_SILVER_GOLD.png?v=1758711942'
                          when '22K White Gold'
                            assign variant_image_url = 'https://cdn.shopify.com/s/files/1/0664/9456/2387/files/22K_SILVER_GOLD.png?v=1758711942'
                        endcase
                        assign variant_handle = product_option_value | handleize
                        assign image_name = variant_handle | append: '.png'
                        assign image_url = image_name | asset_url
                      -%}
                      <div class="variant-slider__item">
                        <label class="variant-slider__label">
                          <input
                            type="radio"
                            name="{{ product_option.name | escape }}-{{ block.id }}-{{ product_resource.id }}"
                            value="{{ product_option_value | escape }}"
                            aria-label="{{ product_option_value.name }}"
                            {% if product_option_value.available == false %}
                              aria-disabled="true"
                            {% endif %}
                            data-input-id="{{ product_option.position }}-{{ forloop.index0 }}"
                            data-option-value-id="{{ product_option_value.id }}"
                            data-option-available="{{ product_option_value.available }}"
                            data-connected-product-url="{{ product_option_value.product_url }}"
                            {% if product_option_value.variant.id %}
                              data-variant-id="{{ product_option_value.variant.id }}"
                            {% endif %}
                            {% if product_option_value.selected %}
                              checked
                            {% endif %}
                          >
                          <div class="variant-slider__image-wrapper">
                            <img src="{{variant_image_url }}" alt="{{ product_option_value | escape }}" loading="lazy" width="60" height="60">
                            <span>{{ product_option_value | escape }}</span>
                          </div>
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          
        {%- elsif block_settings.variant_style == 'dropdowns' -%}
          <!-- Dropdown variant code remains the same -->
          {% liquid
            assign property_being_updated = false
            if settings.variant_swatch_width != settings.variant_swatch_height
              assign property_being_updated = true
              assign new_width = settings.variant_swatch_width | times: 1.0 | divided_by: settings.variant_swatch_height | times: 20
            endif
          %}

          <div class="variant-option variant-option--dropdowns">
            <label for="Option-{{ block.id }}-{{ forloop.index0 }}">{{ product_option.name | escape }}</label>
            <div
              class="variant-option__select-wrapper"
              style="
                {%- if property_being_updated  -%}
                  --variant-picker-swatch-width: clamp(10px,{{ new_width }}px, 50px);
                {%- endif -%}
              "
            >
              <select
                id="Option-{{ block.id }}-{{ forloop.index0 }}"
                name="options[{{ product_option.name | escape }}]"
                class="variant-option__select"
              >
                {%- for product_option_value in product_option.values -%}
                  <option
                    value="{{ product_option_value | escape }}"
                    data-input-id="{{ product_option.position }}-{{ forloop.index0 }}"
                    data-option-value-id="{{ product_option_value.id }}"
                    data-variant-id="{{ product_option_value.variant.id }}"
                    data-connected-product-url="{{ product_option_value.product_url }}"
                    {% if product_option_value.selected %}
                      selected="selected"
                    {% endif %}
                  >
                    {% if product_option_value.available == false %}
                      {{ product_option_value | escape }} - {{ 'content.unavailable' | t }}
                    {% else %}
                      {{ product_option_value | escape }}
                    {% endif %}
                  </option>
                {%- endfor -%}
              </select>
              <svg
                aria-hidden="true"
                focusable="false"
                class="icon icon-caret"
                viewBox="0 0 10 6"
              >
                {%- render 'icon', icon: 'caret' -%}
              </svg>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}

      <script type="application/json">
        {{ product_resource.selected_or_first_available_variant | json }}
      </script>
    </form>
  </variant-picker>
{% endunless %}

<!-- JavaScript for Slider Functionality -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize all variant sliders
    const sliders = document.querySelectorAll('.variant-option--slider');
    
    sliders.forEach(slider => {
      const list = slider.querySelector('[data-slider-list]');
      const prevBtn = slider.querySelector('[data-slider-prev]');
      const nextBtn = slider.querySelector('[data-slider-next]');
      const items = slider.querySelectorAll('.variant-slider__item');
      
      if (!list || !prevBtn || !nextBtn || items.length === 0) return;
      
      let currentIndex = 0;
      const itemsPerView = getItemsPerView();
      const maxIndex = Math.max(0, items.length - itemsPerView);
      
      function getItemsPerView() {
        const width = window.innerWidth;
        if (width <= 480) return 2;
        if (width <= 768) return 3;
        return 4;
      }
      
      function updateSlider() {
        const itemWidth = 100 / itemsPerView;
        const offset = -currentIndex * itemWidth;
        list.style.transform = `translateX(${offset}%)`;
        
        // Update button states
        prevBtn.disabled = currentIndex === 0;
        nextBtn.disabled = currentIndex >= maxIndex;
      }
      
      function goToNext() {
        if (currentIndex < maxIndex) {
          currentIndex++;
          updateSlider();
        }
      }
      
      function goToPrev() {
        if (currentIndex > 0) {
          currentIndex--;
          updateSlider();
        }
      }
      
      // Event listeners
      nextBtn.addEventListener('click', goToNext);
      prevBtn.addEventListener('click', goToPrev);
      
      // Handle window resize
      let resizeTimeout;
      window.addEventListener('resize', () => {
        clearTimeout(resizeTimeout);
        resizeTimeout = setTimeout(() => {
          const newItemsPerView = getItemsPerView();
          const newMaxIndex = Math.max(0, items.length - newItemsPerView);
          if (currentIndex > newMaxIndex) {
            currentIndex = newMaxIndex;
          }
          updateSlider();
        }, 250);
      });
      
      // Keyboard navigation
      slider.addEventListener('keydown', (e) => {
        if (e.key === 'ArrowLeft') goToPrev();
        if (e.key === 'ArrowRight') goToNext();
      });
      
      // Initial update
      updateSlider();
    });
  });
</script>

{% stylesheet %}

  .variant-picker {
    width: 100%;
  }

  .variant-picker__form {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    width: 100%;
  }

  /* --- SLIDER STYLES --- */
  .variant-option--slider {
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .variant-option--slider legend {
    padding: 0;
    margin-block-end: var(--margin-xs);
    font-weight: 600;
  }

  .variant-slider__container {
    position: relative;
   

  }

  .variant-slider__wrapper {
    position: relative;
    padding: 0 20px; /* Space for nav buttons */
  }

  .variant-slider__track {
    overflow: hidden;
    margin: 0 auto;
     max-width: 680px;
  }

  .variant-slider__list {
    display: flex;
    gap: 12px;
    transition: transform 0.3s ease-in-out;
    padding: 40px 0;
  }

  .variant-slider__item {
    flex: 0 0 calc(25% - 9px); /* 4 items per view */
    min-width: 0;
  }

  @media (max-width: 768px) {
     .variant-slider__track {
      overflow: hidden;
      margin: 0 auto;
     max-width: 280px;
  }
    .variant-slider__item {
      flex: 0 0 calc(33.33% - 6px); /* 2 items per view */
    }
  }

  @media (max-width: 480px) {
    .variant-slider__track {
      overflow: hidden;
      margin: 0 auto;
     max-width: 180px;
  }
    .variant-slider__item {
      flex: 0 0 calc(50% - 6px); /* 2 items per view */
    }
  }

  .variant-slider__label {
    display: block;
    cursor: pointer;
    width: 100%;
  }

  .variant-slider__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    background: var(--color-background);
  }

  .variant-slider__image-wrapper:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .variant-slider__image-wrapper img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid rgb(var(--color-foreground-rgb) / 0.12);
  }
  
  .variant-slider__label span {
    font-size: 12px;
    text-align: center;
    color: rgb(var(--color-foreground-rgb) / 0.75);
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .variant-slider__label input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .variant-slider__label input:checked + .variant-slider__image-wrapper {
    border-color: rgb(var(--color-foreground-rgb));
    background: rgb(var(--color-foreground-rgb) / 0.05);
  }

  .variant-slider__label input:checked + .variant-slider__image-wrapper span {
    color: rgb(var(--color-foreground-rgb));
    font-weight: 600;
  }

  .variant-slider__label input:focus-visible + .variant-slider__image-wrapper {
    box-shadow: 0 0 0 2px var(--color-background), 0 0 0 4px var(--color-foreground);
  }
  
  /* Navigation Buttons */
  .variant-slider__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: var(--color-background);
    border: 1px solid rgb(var(--color-foreground-rgb) / 0.12);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    z-index: 2;
    padding: 0;
  }

  .variant-slider__nav:hover:not(:disabled) {
    background-color: rgb(var(--color-foreground-rgb));
    border-color: rgb(var(--color-foreground-rgb));
    transform: translateY(-50%) scale(1.1);
  }

  .variant-slider__nav:hover:not(:disabled) svg {
    stroke: var(--color-background);
  }

  .variant-slider__nav:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .variant-slider__nav--prev {
    left: 0;
  }

  .variant-slider__nav--next {
    right: 0;
  }

  .variant-slider__nav svg {
    width: 16px;
    height: 16px;
    stroke: rgb(var(--color-foreground-rgb));
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  /* Unavailable state */
  .variant-slider__label input[aria-disabled="true"] + .variant-slider__image-wrapper {
    opacity: 0.5;
    position: relative;
  }

  .variant-slider__label input[aria-disabled="true"] + .variant-slider__image-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 2px;
    background: rgb(var(--color-foreground-rgb) / 0.3);
    transform: rotate(-45deg);
  }
  
   .variant-option--swatches {
    --options-border-radius: var(--variant-picker-swatch-radius);

    width: 100%;
  }

  .variant-option--swatches-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  .variant-option--swatches > overflow-list {
    justify-content: var(--product-swatches-alignment);

    @media (max-width: 749px) {
      justify-content: var(--product-swatches-alignment-mobile);
    }
  }

  .variant-option--buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    margin: 0;
    padding: 0;
    border: none;
  }

  .variant-option--buttons legend {
    padding: 0;
    margin-block-end: var(--margin-xs);
  }

  .variant-option__swatch-value {
    padding-inline-start: var(--padding-xs);
    color: rgb(var(--color-foreground-rgb) / var(--opacity-70));
  }

  .variant-option__button-label {
    --variant-picker-stroke-color: var(--color-variant-border);

    display: flex;
    flex: 0 0 calc(3ch + 1.3em);
    align-items: center;
    position: relative;
    padding-block: var(--padding-sm);
    padding-inline: var(--padding-lg);
    border: var(--style-border-width) solid var(--color-variant-border);
    border-radius: var(--options-border-radius);
    border-width: var(--options-border-width);
    overflow: clip;
    justify-content: center;
    min-height: calc(3ch + 1.3em);
    min-width: fit-content;
    white-space: nowrap;
    background-color: var(--color-variant-background);
    color: var(--color-variant-text);
    transition: background-color var(--animation-speed) var(--animation-easing),
      border-color var(--animation-speed) var(--animation-easing);

    &:hover {
      background-color: var(--color-variant-hover-background);
      border-color: var(--color-variant-hover-border);
      color: var(--color-variant-hover-text);
    }

    @media screen and (min-width: 750px) {
      padding: var(--padding-xs) var(--variant-option-padding-inline);
    }
  }

  .variant-option__button-label__text {
    text-align: left;
    text-wrap: auto;
  }

  .variant-option--equal-width-buttons {
    --variant-min-width: clamp(44px, calc(var(--variant-option-padding-inline) * 2 + var(--variant-ch)), 100%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--variant-min-width), 1fr));

    .variant-option__button-label {
      min-width: var(--variant-min-width);
    }

    .variant-option__button-label__text {
      text-align: center;
      text-wrap: balance;
    }
  }

  .variant-option__button-label:has(:focus-visible) {
    --variant-picker-stroke-color: var(--color-foreground);

    border-color: var(--color-foreground);
    outline: var(--focus-outline-width) solid var(--color-foreground);
    outline-offset: var(--focus-outline-offset);
  }

  .variant-option__button-label--has-swatch {
    --focus-outline-radius: var(--variant-picker-swatch-radius);

    padding: 0;
    border: none;
    display: block;
    flex-basis: auto;
    min-height: auto;
  }

  .variant-option__button-label:has(:checked) {
    color: var(--color-selected-variant-text);
    background-color: var(--color-selected-variant-background);
    border-color: var(--color-selected-variant-border);
    transition: background-color var(--animation-speed) var(--animation-easing),
      border-color var(--animation-speed) var(--animation-easing);

    &:hover {
      background-color: var(--color-selected-variant-hover-background);
      border-color: var(--color-selected-variant-hover-border);
      color: var(--color-selected-variant-hover-text);
    }
  }

  .variant-option__button-label:has([data-option-available='false']) {
    color: rgb(var(--color-variant-text-rgb) / var(--opacity-60));
  }

  .facets__inputs-list--swatches-grid .variant-option__button-label--has-swatch:hover .swatch {
    --focus-outline: var(--focus-outline-width) solid rgb(var(--color-foreground-rgb) / var(--opacity-35-55));

    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  .facets__inputs-list--swatches-grid .variant-option__button-label:has(:focus-visible) .swatch {
    --focus-outline: var(--focus-outline-width) solid currentcolor;

    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  .facets__inputs-list--swatches-grid .variant-option__button-label:has(:focus-visible) {
    outline: none;
  }

  .facets__inputs-list--swatches-grid .variant-option__button-label--has-swatch:hover {
    outline: none;
  }

  .variant-option__button-label--has-swatch:hover {
    outline: var(--focus-outline-width) solid rgb(var(--color-foreground-rgb) / var(--opacity-35-55));
    outline-offset: var(--focus-outline-offset);
  }

  .facets__inputs-list--swatches-grid .variant-option__button-label--has-swatch:has(:checked) {
    --focus-outline: none;
  }

  .facets__inputs-list--swatches-grid .variant-option__button-label--has-swatch:has(:checked) .swatch {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  .variant-option__button-label--has-swatch:has(:checked) {
    --focus-outline: var(--focus-outline-width) solid var(--color-foreground);

    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  /* This triggers iOS < 16.4. The outline bug is not recognized as a lack of @supports */
  @supports not (background-color: rgb(from red 150 g b / alpha)) {
    /** There is a bug in safari < 16.4 that causes the outline to not follow the elements border radius. This is a workaround. **/
    .variant-option__button-label--has-swatch:has(:checked),
    .variant-option__button-label:has(:focus-visible) .swatch,
    .facets__inputs-list--swatches-grid .variant-option__button-label--has-swatch:hover .swatch {
      outline: none;
      position: relative;
      overflow: visible;
    }

    .variant-option__button-label--has-swatch:has(:checked)::after,
    .variant-option__button-label:has(:focus-visible) .swatch::after,
    .facets__inputs-list--swatches-grid .variant-option__button-label--has-swatch:hover .swatch::after {
      content: '';
      position: absolute;
      inset: calc(-1 * var(--focus-outline-offset));
      border: var(--focus-outline);
      border-radius: var(--focus-outline-radius, 50%);
      background-color: transparent;
      display: inherit;
    }
  }

  .variant-option__button-label:has([data-option-available='false']):has(:checked) {
    --variant-picker-stroke-color: rgb(var(--color-variant-text-rgb) / var(--opacity-60));

    background-color: inherit;
    color: rgb(var(--color-variant-text-rgb) / var(--opacity-60));
    border-color: var(--color-selected-variant-border);
  }

  .variant-option__button-label input,
  .variant-option--images input {
    /* remove the checkbox from the page flow */
    position: absolute;

    /* set the dimensions to match those of the label */
    inset: 0;

    /* hide it */
    opacity: 0;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .variant-option__button-label svg {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    pointer-events: none;
    stroke-width: var(--style-border-width);
    stroke: var(--variant-picker-stroke-color);
  }

  .variant-option__select-wrapper {
    display: flex;
    position: relative;
    border: var(--style-border-width-inputs) solid var(--color-border);
    border-radius: var(--style-border-radius-inputs);
    align-items: center;
    margin-top: var(--margin-2xs);
    overflow: clip;
    transition: background-color var(--animation-speed) var(--animation-easing),
      border-color var(--animation-speed) var(--animation-easing);
  }

  .variant-option__select-wrapper:has(.swatch) {
    --variant-picker-swatch-width: 20px;
    --variant-picker-swatch-height: 20px;
  }

  .variant-option__select-wrapper:hover {
    border-color: var(--color-variant-hover-border);
  }

  .variant-option__select:focus-visible {
    outline: var(--focus-outline-width) solid currentcolor;
    outline-offset: var(--focus-outline-offset);
  }

  .variant-option__select {
    padding-block: var(--padding-md);
    padding-inline: var(--padding-lg) calc(var(--padding-lg) + var(--icon-size-2xs));
    appearance: none;
    border: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }

  .variant-option__select-wrapper .icon {
    position: absolute;
    right: var(--padding-md);
    top: 50%;
    transform: translateY(-50%);
    width: var(--icon-size-2xs);
    height: var(--icon-size-2xs);
    pointer-events: none;
  }

  .variant-option__select--has-swatch {
    padding-inline-start: calc((2 * var(--padding-sm)) + var(--variant-picker-swatch-width));
  }

  .variant-option__select-wrapper .swatch {
    position: absolute;
    top: 50%;
    left: var(--padding-md);
    transform: translateY(-50%);
  }

  .variant-picker--center,
  .variant-picker--center .variant-option {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .variant-picker--right,
  .variant-picker--right .variant-option {
    text-align: right;
    justify-content: right;
  }

   .variant-picker {
    width: 100%;
  }

  .variant-picker__form {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    width: 100%;
  }

  .variant-picker[data-shopify-visual-preview] {
    min-width: 300px;
    padding-inline-start: max(4px, var(--padding-inline-start));
  }

  .variant-option {
    --options-border-radius: var(--variant-picker-button-radius);
    --options-border-width: var(--variant-picker-button-border-width);
    --variant-option-padding-inline: var(--padding-md);
  }
{% endstylesheet %}